<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sbs.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".food_tteokbokki_list"></activity>
        <activity android:name=".food_ChickenAndPizza_list" />
        <activity android:name=".food_chinafood_list" />
        <activity android:name=".food_koreanfood_list" />
        <activity android:name=".food_lostchicken_xml" />
        <activity android:name=".food_cup_list" />
        <activity android:name=".food_gas_list" />
        <activity android:name=".webview" />
        <activity android:name=".view" />
        <activity android:name=".food_meat_list" />
        <activity android:name=".main" />
        <activity
            android:name=".MemberJoinActivity"
            android:parentActivityName=".MemberLoginActivity" />
        <activity android:name=".HomeMainActivity" />
        <activity android:name=".MemberLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>